{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Landing Page{% endblock %}

{% block body %}
    <div class="container text-center">
        <img class="mt-5" src="{{ asset('build/images/sigma-logo.png') }}" alt="sigma-logo" width="17%">
        <h3 class="my-4">Prueba de desarrollo Sigma</h3>
        <div>
            <p class="mx-auto">
                <b>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the
                    industry's standard dummy text ever since 1500s, when an unknow printer took a galley of the type
                    and
                    scrambled it to make a type specimen book</b>
            </p>
        </div>
        <div class="row my-5 justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="text-right">
                    <img src="{{ asset('build/images/sigma-image.png') }}" alt="sigma-image" style="width: 80%">
                </div>
            </div>
            <div class="col-md-6 text-left">
                <div class="radius-and-shadow" style="width: 80%">
                    <div class="p-5"> <!--Padding here-->
                        {{ form_start(form_contact) }}
                        <div class="row">
                            <div class="col-md-12 my-2">
                                <strong>{{ form_label(form_contact.state, 'Departamento*') }}</strong>
                                {{ form_widget(form_contact.state) }}
                            </div>
                            <div class="col-md-12 my-2">
                                <strong>{{ form_label(form_contact.city, 'Ciudad*') }}</strong>
                                {{ form_widget(form_contact.city) }}
                            </div>
                            <div class="col-md-12 my-2">
                                <strong>{{ form_label(form_contact.name, 'Nombre*') }}</strong>
                                {{ form_widget(form_contact.name, {attr:{'placeholder':'Pepito de Jesús'}}) }}
                            </div>
                            <div class="col-md-12 my-2">
                                <strong>{{ form_label(form_contact.email, 'Correo*') }}</strong>
                                {{ form_widget(form_contact.email, {attr:{'placeholder':'Pepitodejesus@gmail.com'}}) }}
                            </div>
                        </div>
                        {{ form_end(form_contact) }}
                        <div class="text-center my-3">
                            <button id="contacts_Save" class="py-2 px-3"><strong>ENVIAR</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
